html body {
  font-family: Helvetica;
  text-align: center;
}

header {
  background-image: url("https://github.com/agyin3/broadway/blob/master/resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

.title {
  color: white;
  font-weight: bold;
}

.menu {
  color: white;
  font-size: 18px;
}
