html body {
  font-family: Helvetica;
  text-align: center;
}

nav {
  background-image: url("https://agyin3.github.io/broadway/resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

.title {
  color: white;
  font-weight: bold;
}

.menu {
  color: white;
  font-size: 18px;
}
